[Unit]
Description=Project Zomboid Server (%i)
After=network-online.target local-fs.target
Wants=network-online.target local-fs.target
Conflicts=halt.target reboot.target shutdown.target
Before=halt.target reboot.target shutdown.target

[Service]
Type=forking
RemainAfterExit=no
ExecStart=/usr/bin/tmux -L pzsvrtool new-session -d -s pzsvrtool_%i /usr/libexec/pzsvrtool/pzsvrtool_wrapper.sh
ExecStop=/usr/libexec/pzsvrtool/pzsvrtool_gracefulstop.sh
TimeoutStopSec=20m

[Install]
WantedBy=default.target